$base-color: #8b5e83;

.button {
  min-width: 100px;
  border: none;
  color: white;
  background-color: $base-color;
  padding: 10px 40px;
  border-radius: 5px;

  &:hover {
    background-color: darken($color: $base-color, $amount: 10);
  }
}
