.githubProjectBoard {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.137);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 3%;
}

.heading {
  font-size: 3rem;
  color: #362222bd;

  @media (max-width: 1000px) {
    font-size: 2.5rem;
    text-align: center;
  }
}
