.transparentInput {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  position: relative;
  border-bottom: 2px solid white;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: inherit;
  }
}
