.controls {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.addButton {
  display: flex;
  font-weight: bold;
  gap: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.plusSvg {
  width: 20px;
  height: 20px;
  fill: white;
}

.select {
  width: 30%;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
