.controls {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.addButton {
  display: flex;
  font-weight: bold;
  gap: 10px;
}

.plusSvg {
  width: 20px;
  height: 20px;
  fill: white;
}

.select {
  width: 30%;
}
