.projectTemplate {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  background-color: aliceblue;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 30px;
  position: relative;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: translate(-5px, -5px);
    box-shadow: 10px 11px 34px 0px rgba(34, 60, 80, 0.2);
    .removeButton {
      opacity: 1;
    }
  }
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.starList {
  display: flex;
  gap: 10px;
}

.starSvg {
  width: 30px;
  height: 30px;
  fill: white;
  opacity: 0.4;
  transition: all 200ms ease;

  &_covered {
    opacity: 0.8;
  }

  &_selected {
    opacity: 1;
  }

  &:hover {
    opacity: 1;
  }
}
.saveBtn {
  font-weight: bold;
}

.removeButton {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: all 400ms ease;
}

.crosSvg {
  fill: white;
}
