.app {
  width: 100%;
  height: 100vh;
  background: rgb(255, 175, 189);
  background: linear-gradient(319deg, rgba(255, 175, 189, 1) 19%, rgba(255, 195, 160, 1) 81%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5%;
}

.section {
  width: 100%;
  height: 80vh;
  max-width: 1200px;
}
