.app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5%;

  position: relative;

  &::after {
    position: fixed;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: linear-gradient(109.96deg, #f4c7ab 0.73%, #b2b8a3 100.6%);
  }
}

.section {
  width: 100%;
  min-height: 80vh;
  max-width: 1200px;
}
